.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(89, 74, 142, 0.7);
  z-index: 1010;
}

.stream-overlay {
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1030
}

.stream-overlay.stay {
  background-color: rgba(216, 216, 216, 0.4);
}

.stream-overlay:hover {
  background-color: rgba(216, 216, 216, 0.4);
}

.selectable-stream {
  position: relative;
  z-index: 1020;
}

.select-heading-wrapper, .select-buttons-wrapper {
  color: white;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1030;
}

.select-heading-wrapper {
  top: 75px;
}

.select-heading {
  text-shadow: 2px 2px 2px #2b2b2b;
}

.select-buttons-wrapper {
  bottom: 40px;
}

.select-buttons-wrapper a {
  border-radius: 8px;
  box-shadow: 2px 2px 2px #4c4c4c;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.select-buttons-wrapper a:hover {
  color: inherit;
}

.button-confirm {
  color: white !important;
  background: #3c2c4a;
}

.button-cancel {
  background: lightgray;
  color: #444 !important;
  cursor: pointer;
}

.check-wrapper {
  display: none;
  position: absolute;
  right: 37.5%;
  top: 20%;
  width: 25%;
  z-index: 1040
}

.check-wrapper svg path {
  fill: #46C121;
}
